Flask @ file:///home/ktietz/src/ci/flask_1611932660458/work
folium==0.14.0
geopandas==0.12.2
numpy @ file:///C:/ci/numpy_and_numpy_base_1653574844560/work
pandas @ file:///C:/b/abs_cdcgk91igc/croots/recipe/pandas_1663772960432/work
scikit-image @ file:///C:/ci/scikit-image_1648214340990/work
scikit-learn @ file:///C:/ci/scikit-learn_1642617276183/work
scikit-learn-intelex==2021.20221004.171935